@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
  --breakpoint-sm: 0px;
}
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
  text-select: none;
}

@font-face {
  font-family: 'CustomBlack';
  src: url('../fonts/FKGroteskNeueTrial-Regular-BF6576818c3af74.otf');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'CustomBlack', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Splash screen animation */
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.3);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 15px rgba(0, 255, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0);
  }
}

.pulse-animation {
  animation: pulse 2s infinite;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: rgba(76, 175, 80, 0.5);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(76, 175, 80, 0.8);
}



@layer utilities {
  .spin-very-slow {
    animation: spin 5s linear infinite;
  }
}